.container {
  text-align: center;
}

.home {
  text-align: center;
  font-weight: 1000;
  font-size: 37px;
}

.form-control {
  margin: 10px;
}

.form-inline {
  display: flex;
  justify-content: space-between;
}

.btn-outline-dark {
  margin-top: 10px;
}

.btn {
  float: right;
  margin: 10px;
  text-align: right;
}

.navbar {
  float: right;
}
